<!doctype html>
<html lang="en">
<head>
  <title>Tech radar</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta name="author" content="Yoan Thirion">
  <meta name="description" content="This site can be used to organize your technology watch inside your companies.">

  <meta property="og:url"                content="" />
  <meta property="og:type"               content="Website" />
  <meta property="og:title"              content="Tech radar" />
  <meta property="og:description"        content="This site can be used to organize your technology watch inside your companies." />
  <meta property="og:image"              content="/assets/images/crafts-poster.png" />

  <link rel="stylesheet" type="text/css" href="/css/main.719059a0f7a50dcd153e.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,300,600,700,800,900,300italic,600italic">
  <link rel="stylesheet" type="text/css" href="/css/buddy.plugins.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/buddy.js"></script>
  <script type="text/javascript" src="/js/konami.js"></script>
  
</head>